# Neuron Network - Lab

### Part 1: Load  data

Import "bank-data.csv"

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
bankData = pd.read_csv('/content/gdrive/MyDrive/bank-data.csv', sep = ';')
bankData.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

### Part 2: Preprocess data

Preprocess the dataset as you have done before

#### 2.1 Binary encoding

Use LabelEncoder to encode the following columns:
- y
- default
- housing
- loan (เงินกู้)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

#example
bankData['y'] = le.fit_transform(bankData['y'])
bankData.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,0
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,0
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,0
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,0
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,0

In [ ]:
#Encode the remaining columns
bankData['housing'] = le.fit_transform(bankData['housing'])
bankData['default'] = le.fit_transform(bankData['default'])
bankData['loan'] = le.fit_transform(bankData['loan'])
bankData.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,0,1787,0,0,cellular,19,oct,79,1,-1,0,unknown,0
1,33,services,married,secondary,0,4789,1,1,cellular,11,may,220,1,339,4,failure,0
2,35,management,single,tertiary,0,1350,1,0,cellular,16,apr,185,1,330,1,failure,0
3,30,management,married,tertiary,0,1476,1,1,unknown,3,jun,199,4,-1,0,unknown,0
4,59,blue-collar,married,secondary,0,0,1,0,unknown,5,may,226,1,-1,0,unknown,0

#### 2.2 Convert categorical variables into dummy columns

(1) Use pd.get_dummies to convert the following categorical variales into dummy columns
- job
- maritial
- education
- contact
- month
- poutcome

(2) Drop columns that have been converted

In [ ]:
#example
bankData = pd.concat([bankData,pd.get_dummies(bankData['job'],prefix='job')],axis=1)
bankData = bankData.drop(columns=['job'])
bankData.head()

,age,marital,education,default,balance,housing,loan,contact,day,month,...,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown
0,30,married,primary,0,1787,0,0,cellular,19,oct,...,0,0,0,0,0,0,0,0,1,0
1,33,married,secondary,0,4789,1,1,cellular,11,may,...,0,0,0,0,0,1,0,0,0,0
2,35,single,tertiary,0,1350,1,0,cellular,16,apr,...,0,0,1,0,0,0,0,0,0,0
3,30,married,tertiary,0,1476,1,1,unknown,3,jun,...,0,0,1,0,0,0,0,0,0,0
4,59,married,secondary,0,0,1,0,unknown,5,may,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
bankData = pd.concat([bankData,pd.get_dummies(bankData['marital'],prefix='marital')],axis=1)
bankData = pd.concat([bankData,pd.get_dummies(bankData['education'],prefix='education')],axis=1)
bankData = pd.concat([bankData,pd.get_dummies(bankData['contact'],prefix='contact')],axis=1)
bankData = pd.concat([bankData,pd.get_dummies(bankData['month'],prefix='month')],axis=1)
bankData = pd.concat([bankData,pd.get_dummies(bankData['poutcome'],prefix='poutcome')],axis=1)

bankData = bankData.drop(columns=['marital', 'education', 'contact', 'month', 'poutcome'])

In [ ]:
bankData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 49 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  4521 non-null   int64
 1   default              4521 non-null   int64
 2   balance              4521 non-null   int64
 3   housing              4521 non-null   int64
 4   loan                 4521 non-null   int64
 5   day                  4521 non-null   int64
 6   duration             4521 non-null   int64
 7   campaign             4521 non-null   int64
 8   pdays                4521 non-null   int64
 9   previous             4521 non-null   int64
 10  y                    4521 non-null   int64
 11  job_admin.           4521 non-null   uint8
 12  job_blue-collar      4521 non-null   uint8
 13  job_entrepreneur     4521 non-null   uint8
 14  job_housemaid        4521 non-null   uint8
 15  job_management       4521 non-null   uint8
 16  job_retired          4521 non-null   uint8
 17  job_self-employed    4521 non-null   uint8
 18  job_services         4521 non-null   uint8
 19  job_student          4521 non-null   uint8
 20  job_technician       4521 non-null   uint8
 21  job_unemployed       4521 non-null   uint8
 22  job_unknown          4521 non-null   uint8
 23  marital_divorced     4521 non-null   uint8
 24  marital_married      4521 non-null   uint8
 25  marital_single       4521 non-null   uint8
 26  education_primary    4521 non-null   uint8
 27  education_secondary  4521 non-null   uint8
 28  education_tertiary   4521 non-null   uint8
 29  education_unknown    4521 non-null   uint8
 30  contact_cellular     4521 non-null   uint8
 31  contact_telephone    4521 non-null   uint8
 32  contact_unknown      4521 non-null   uint8
 33  month_apr            4521 non-null   uint8
 34  month_aug            4521 non-null   uint8
 35  month_dec            4521 non-null   uint8
 36  month_feb            4521 non-null   uint8
 37  month_jan            4521 non-null   uint8
 38  month_jul            4521 non-null   uint8
 39  month_jun            4521 non-null   uint8
 40  month_mar            4521 non-null   uint8
 41  month_may            4521 non-null   uint8
 42  month_nov            4521 non-null   uint8
 43  month_oct            4521 non-null   uint8
 44  month_sep            4521 non-null   uint8
 45  poutcome_failure     4521 non-null   uint8
 46  poutcome_other       4521 non-null   uint8
 47  poutcome_success     4521 non-null   uint8
 48  poutcome_unknown     4521 non-null   uint8
dtypes: int64(11), uint8(38)
memory usage: 556.4 KB

#### 2.3 Train/Test separation

Perform hold-out method
- 60% training set
- 40% testing set

In [ ]:
bankData_train = bankData.sample(frac = 0.6)
bankData_test = bankData.drop(bankData_train.index)
print(pd.crosstab(bankData_train['y'],columns = 'count'))
print(pd.crosstab(bankData_test['y'],columns = 'count'))

col_0  count
y
0       2386
1        327
col_0  count
y
0       1614
1        194

##### X/y separation

In [ ]:
bankData_train_y = bankData_train['y']
bankData_train_X = bankData_train.copy()
del bankData_train_X['y']

bankData_test_y = bankData_test['y']
bankData_test_X = bankData_test.copy()
del bankData_test_X['y']

#### 2.4 Feature Scaling

It is always a good practice to scale the features so that all of them can be uniformly evaluated (scale data เพื่อให้อยู่ใน range เดียวกัน)

In [ ]:
from sklearn import preprocessing

standard_scaler = preprocessing.StandardScaler()
train_X_scaled_s = pd.DataFrame(standard_scaler.fit_transform(bankData_train_X), columns=bankData_train_X.columns)
test_X_scaled_s = pd.DataFrame(standard_scaler.fit_transform(bankData_test_X), columns=bankData_train_X.columns)

min_max_scaler = preprocessing.MinMaxScaler()
train_X_scaled_m = pd.DataFrame(min_max_scaler.fit_transform(bankData_train_X),columns=bankData_train_X.columns)
test_X_scaled_m = pd.DataFrame(min_max_scaler.fit_transform(bankData_test_X),columns=bankData_train_X.columns)

In [ ]:
train_X_scaled_s.head()

,age,default,balance,housing,loan,day,duration,campaign,pdays,previous,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,1.016145,-0.135622,0.210423,0.881298,-0.427979,1.811743,-0.002890,-0.566799,4.214133,0.311907,...,-0.357864,-0.103946,-0.662765,-0.294854,-0.141155,-0.109251,2.868430,-0.204594,-0.177648,-2.140632
1,-1.619871,-0.135622,-0.344371,-1.134690,2.336562,-0.009173,-0.130549,-0.258143,-0.404405,-0.331105,...,-0.357864,-0.103946,1.508831,-0.294854,-0.141155,-0.109251,-0.348623,-0.204594,-0.177648,0.467152
2,-0.678437,-0.135622,-0.158365,-1.134690,-0.427979,1.568954,-0.664392,0.359170,-0.404405,-0.331105,...,-0.357864,-0.103946,-0.662765,-0.294854,-0.141155,-0.109251,-0.348623,-0.204594,-0.177648,0.467152
3,1.581006,-0.135622,-0.450430,-1.134690,-0.427979,0.233616,-0.710813,2.519764,-0.404405,-0.331105,...,-0.357864,-0.103946,-0.662765,-0.294854,-0.141155,-0.109251,-0.348623,-0.204594,-0.177648,0.467152
4,-0.960867,-0.135622,0.172706,-1.134690,-0.427979,0.112222,0.062873,0.050514,-0.404405,-0.331105,...,-0.357864,-0.103946,-0.662765,-0.294854,-0.141155,-0.109251,-0.348623,-0.204594,-0.177648,0.467152

In [ ]:
train_X_scaled_m.head()

,age,default,balance,housing,loan,day,duration,campaign,pdays,previous,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,0.492537,0.0,0.056899,1.0,0.0,1.000000,0.107259,0.000000,0.544725,0.04,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.074627,0.0,0.033411,0.0,1.0,0.500000,0.093801,0.020408,0.000000,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.223881,0.0,0.041286,0.0,0.0,0.933333,0.037520,0.061224,0.000000,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.582090,0.0,0.028920,0.0,0.0,0.566667,0.032626,0.204082,0.000000,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.179104,0.0,0.055302,0.0,0.0,0.533333,0.114192,0.040816,0.000000,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## Artificial Neural Network : sklearn

### Part 3: Train a model

In [ ]:
from sklearn.neural_network import MLPClassifier  
mlp = MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)  
# (10, 10, 10) = 3 layer layer ละ 10 neuron , max_iter= epoch เป็นจำนวน loop ในการรัน data
mlp.fit(train_X_scaled_s, bankData_train_y)

MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)

### Part 4: Model Evaluation

Evaluation metrics
- confusion metrix
- accuracy
- precision, recall, f1-score

In [ ]:
mlp.score(test_X_scaled_s,bankData_test_y)

0.8573008849557522

### Part 5: Model tuning

#### Note:

After building the classifier, try answering the following questions.

1. What is the Accuracy Score?
2. If you change your preprosessing method, can you improve the model?
3. If you change your parameters setting, can you improve the model?

## Artificial Neural Network : keras

Fitting a logistic regression model

### Part 3: Train a model

In [ ]:
import keras
from keras import models
from keras import layers

In [ ]:
train_X_scaled_s.shape

(2713, 48)

In [ ]:
nn = models.Sequential()
nn.add(layers.Dense(48,activation = 'linear',input_shape=(None,48)))
nn.add(layers.Dense(1,activation = 'sigmoid'))
#layers.Dense เป็น fully connected

In [ ]:
nn.compile(optimizer='sgd', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, None, 48)          2352

 dense_1 (Dense)             (None, None, 1)           49

=================================================================
Total params: 2,401
Trainable params: 2,401
Non-trainable params: 0
_________________________________________________________________

In [ ]:
import numpy as np
#เป็นการเตรียม data ให้พร้อมในการเอาเข้า NN

X_train_add = np.expand_dims(train_X_scaled_s, axis=0)
y_train_add = np.expand_dims(bankData_train_y, axis=0)
y_train_add = np.expand_dims(y_train_add, axis=2)

In [ ]:
y_train_add.shape

(1, 2713, 1)

In [ ]:
history = nn.fit(X_train_add,y_train_add,epochs=100)

Epoch 1/100
1/1 [==============================] - 1s 766ms/step - loss: 0.8295 - accuracy: 0.5308
Epoch 2/100
1/1 [==============================] - 0s 8ms/step - loss: 0.8218 - accuracy: 0.5381
Epoch 3/100
1/1 [==============================] - 0s 10ms/step - loss: 0.8143 - accuracy: 0.5429
Epoch 4/100
1/1 [==============================] - 0s 8ms/step - loss: 0.8070 - accuracy: 0.5481
Epoch 5/100
1/1 [==============================] - 0s 11ms/step - loss: 0.7998 - accuracy: 0.5529
Epoch 6/100
1/1 [==============================] - 0s 9ms/step - loss: 0.7927 - accuracy: 0.5551
Epoch 7/100
1/1 [==============================] - 0s 13ms/step - loss: 0.7857 - accuracy: 0.5617
Epoch 8/100
1/1 [==============================] - 0s 12ms/step - loss: 0.7789 - accuracy: 0.5654
Epoch 9/100
1/1 [==============================] - 0s 8ms/step - loss: 0.7722 - accuracy: 0.5691
Epoch 10/100
1/1 [==============================] - 0s 8ms/step - loss: 0.7656 - accuracy: 0.5772
Epoch 11/100
1/1 [==============================] - 0s 8ms/step - loss: 0.7592 - accuracy: 0.5827
Epoch 12/100
1/1 [==============================] - 0s 10ms/step - loss: 0.7528 - accuracy: 0.5883
Epoch 13/100
1/1 [==============================] - 0s 8ms/step - loss: 0.7466 - accuracy: 0.5953
Epoch 14/100
1/1 [==============================] - 0s 8ms/step - loss: 0.7405 - accuracy: 0.6034
Epoch 15/100
1/1 [==============================] - 0s 7ms/step - loss: 0.7344 - accuracy: 0.6049
Epoch 16/100
1/1 [==============================] - 0s 7ms/step - loss: 0.7285 - accuracy: 0.6130
Epoch 17/100
1/1 [==============================] - 0s 9ms/step - loss: 0.7227 - accuracy: 0.6185
Epoch 18/100
1/1 [==============================] - 0s 9ms/step - loss: 0.7170 - accuracy: 0.6233
Epoch 19/100
1/1 [==============================] - 0s 12ms/step - loss: 0.7114 - accuracy: 0.6273
Epoch 20/100
1/1 [==============================] - 0s 8ms/step - loss: 0.7059 - accuracy: 0.6318
Epoch 21/100
1/1 [==============================] - 0s 8ms/step - loss: 0.7004 - accuracy: 0.6358
Epoch 22/100
1/1 [==============================] - 0s 7ms/step - loss: 0.6951 - accuracy: 0.6403
Epoch 23/100
1/1 [==============================] - 0s 8ms/step - loss: 0.6898 - accuracy: 0.6450
Epoch 24/100
1/1 [==============================] - 0s 8ms/step - loss: 0.6846 - accuracy: 0.6498
Epoch 25/100
1/1 [==============================] - 0s 11ms/step - loss: 0.6796 - accuracy: 0.6532
Epoch 26/100
1/1 [==============================] - 0s 8ms/step - loss: 0.6746 - accuracy: 0.6557
Epoch 27/100
1/1 [==============================] - 0s 10ms/step - loss: 0.6696 - accuracy: 0.6609
Epoch 28/100
1/1 [==============================] - 0s 8ms/step - loss: 0.6648 - accuracy: 0.6635
Epoch 29/100
1/1 [==============================] - 0s 8ms/step - loss: 0.6600 - accuracy: 0.6668
Epoch 30/100
1/1 [==============================] - 0s 9ms/step - loss: 0.6553 - accuracy: 0.6705
Epoch 31/100
1/1 [==============================] - 0s 8ms/step - loss: 0.6507 - accuracy: 0.6742
Epoch 32/100
1/1 [==============================] - 0s 8ms/step - loss: 0.6461 - accuracy: 0.6778
Epoch 33/100
1/1 [==============================] - 0s 10ms/step - loss: 0.6416 - accuracy: 0.6819
Epoch 34/100
1/1 [==============================] - 0s 8ms/step - loss: 0.6372 - accuracy: 0.6841
Epoch 35/100
1/1 [==============================] - 0s 8ms/step - loss: 0.6328 - accuracy: 0.6882
Epoch 36/100
1/1 [==============================] - 0s 8ms/step - loss: 0.6286 - accuracy: 0.6904
Epoch 37/100
1/1 [==============================] - 0s 13ms/step - loss: 0.6243 - accuracy: 0.6948
Epoch 38/100
1/1 [==============================] - 0s 13ms/step - loss: 0.6202 - accuracy: 0.6989
Epoch 39/100
1/1 [==============================] - 0s 9ms/step - loss: 0.6161 - accuracy: 0.7029
Epoch 40/100
1/1 [==============================] - 0s 7ms/step - loss: 0.6120 - accuracy: 0.7066
Epoch 41/100
1/1 [==============================] - 0s 8ms/step - loss: 0.6080 - accuracy: 0.7095
Epoch 42/100
1/1 [==============================] - 0s 12ms/step - loss: 0.6041 - accuracy: 0.7129
Epoch 43/100
1/1 [==============================] - 0s 18ms/step - loss: 0.6002 - accuracy: 0.7177
Epoch 44/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5964 - accuracy: 0.7217
Epoch 45/100
1/1 [==============================] - 0s 11ms/step - loss: 0.5926 - accuracy: 0.7258
Epoch 46/100
1/1 [==============================] - 0s 13ms/step - loss: 0.5889 - accuracy: 0.7283
Epoch 47/100
1/1 [==============================] - 0s 9ms/step - loss: 0.5853 - accuracy: 0.7317
Epoch 48/100
1/1 [==============================] - 0s 9ms/step - loss: 0.5817 - accuracy: 0.7361
Epoch 49/100
1/1 [==============================] - 0s 20ms/step - loss: 0.5781 - accuracy: 0.7412
Epoch 50/100
1/1 [==============================] - 0s 16ms/step - loss: 0.5746 - accuracy: 0.7427
Epoch 51/100
1/1 [==============================] - 0s 19ms/step - loss: 0.5711 - accuracy: 0.7457
Epoch 52/100
1/1 [==============================] - 0s 13ms/step - loss: 0.5677 - accuracy: 0.7475
Epoch 53/100
1/1 [==============================] - 0s 10ms/step - loss: 0.5643 - accuracy: 0.7512
Epoch 54/100
1/1 [==============================] - 0s 14ms/step - loss: 0.5610 - accuracy: 0.7556
Epoch 55/100
1/1 [==============================] - 0s 10ms/step - loss: 0.5577 - accuracy: 0.7582
Epoch 56/100
1/1 [==============================] - 0s 10ms/step - loss: 0.5545 - accuracy: 0.7593
Epoch 57/100
1/1 [==============================] - 0s 11ms/step - loss: 0.5513 - accuracy: 0.7630
Epoch 58/100
1/1 [==============================] - 0s 12ms/step - loss: 0.5481 - accuracy: 0.7667
Epoch 59/100
1/1 [==============================] - 0s 10ms/step - loss: 0.5450 - accuracy: 0.7696
Epoch 60/100
1/1 [==============================] - 0s 11ms/step - loss: 0.5420 - accuracy: 0.7733
Epoch 61/100
1/1 [==============================] - 0s 11ms/step - loss: 0.5389 - accuracy: 0.7781
Epoch 62/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5359 - accuracy: 0.7803
Epoch 63/100
1/1 [==============================] - 0s 12ms/step - loss: 0.5330 - accuracy: 0.7818
Epoch 64/100
1/1 [==============================] - 0s 21ms/step - loss: 0.5301 - accuracy: 0.7851
Epoch 65/100
1/1 [==============================] - 0s 18ms/step - loss: 0.5272 - accuracy: 0.7855
Epoch 66/100
1/1 [==============================] - 0s 11ms/step - loss: 0.5244 - accuracy: 0.7873
Epoch 67/100
1/1 [==============================] - 0s 27ms/step - loss: 0.5215 - accuracy: 0.7881
Epoch 68/100
1/1 [==============================] - 0s 16ms/step - loss: 0.5188 - accuracy: 0.7895
Epoch 69/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5160 - accuracy: 0.7925
Epoch 70/100
1/1 [==============================] - 0s 17ms/step - loss: 0.5133 - accuracy: 0.7940
Epoch 71/100
1/1 [==============================] - 0s 9ms/step - loss: 0.5107 - accuracy: 0.7951
Epoch 72/100
1/1 [==============================] - 0s 10ms/step - loss: 0.5080 - accuracy: 0.7962
Epoch 73/100
1/1 [==============================] - 0s 8ms/step - loss: 0.5054 - accuracy: 0.7976
Epoch 74/100
1/1 [==============================] - 0s 11ms/step - loss: 0.5029 - accuracy: 0.7987
Epoch 75/100
1/1 [==============================] - 0s 9ms/step - loss: 0.5003 - accuracy: 0.8010
Epoch 76/100
1/1 [==============================] - 0s 13ms/step - loss: 0.4978 - accuracy: 0.8021
Epoch 77/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4953 - accuracy: 0.8046
Epoch 78/100
1/1 [==============================] - 0s 10ms/step - loss: 0.4929 - accuracy: 0.8072
Epoch 79/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4905 - accuracy: 0.8069
Epoch 80/100
1/1 [==============================] - 0s 9ms/step - loss: 0.4881 - accuracy: 0.8083
Epoch 81/100
1/1 [==============================] - 0s 9ms/step - loss: 0.4857 - accuracy: 0.8091
Epoch 82/100
1/1 [==============================] - 0s 15ms/step - loss: 0.4834 - accuracy: 0.8105
Epoch 83/100
1/1 [==============================] - 0s 10ms/step - loss: 0.4811 - accuracy: 0.8116
Epoch 84/100
1/1 [==============================] - 0s 9ms/step - loss: 0.4788 - accuracy: 0.8116
Epoch 85/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4766 - accuracy: 0.8124
Epoch 86/100
1/1 [==============================] - 0s 9ms/step - loss: 0.4743 - accuracy: 0.8139
Epoch 87/100
1/1 [==============================] - 0s 10ms/step - loss: 0.4721 - accuracy: 0.8150
Epoch 88/100
1/1 [==============================] - 0s 9ms/step - loss: 0.4700 - accuracy: 0.8164
Epoch 89/100
1/1 [==============================] - 0s 13ms/step - loss: 0.4678 - accuracy: 0.8187
Epoch 90/100
1/1 [==============================] - 0s 19ms/step - loss: 0.4657 - accuracy: 0.8198
Epoch 91/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4636 - accuracy: 0.8198
Epoch 92/100
1/1 [==============================] - 0s 13ms/step - loss: 0.4616 - accuracy: 0.8205
Epoch 93/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4595 - accuracy: 0.8209
Epoch 94/100
1/1 [==============================] - 0s 10ms/step - loss: 0.4575 - accuracy: 0.8223
Epoch 95/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4555 - accuracy: 0.8220
Epoch 96/100
1/1 [==============================] - 0s 9ms/step - loss: 0.4535 - accuracy: 0.8238
Epoch 97/100
1/1 [==============================] - 0s 9ms/step - loss: 0.4516 - accuracy: 0.8242
Epoch 98/100
1/1 [==============================] - 0s 17ms/step - loss: 0.4496 - accuracy: 0.8257
Epoch 99/100
1/1 [==============================] - 0s 14ms/step - loss: 0.4477 - accuracy: 0.8271
Epoch 100/100
1/1 [==============================] - 0s 13ms/step - loss: 0.4458 - accuracy: 0.8282

### Part 4: Model Evaluation

In [ ]:
X_test_add = np.expand_dims(test_X_scaled_s, axis=0)
y_test_add = np.expand_dims(bankData_test_y, axis=0)
y_test_add = np.expand_dims(y_test_add, axis=2)

In [ ]:
test_loss, test_acc = nn.evaluate(X_test_add, y_test_add)
print('Test Loss: %s\nTest Accuracy: %s' % (test_loss,test_acc))

1/1 [==============================] - 0s 357ms/step - loss: 0.4635 - accuracy: 0.8158
Test Loss: 0.4634582996368408
Test Accuracy: 0.8158186078071594

### Part 5: Model tuning

#### Note:

After building the classifier, try answering the following questions.

1. What is the Accuracy Score?
2. If you change your preprosessing method, can you improve the model?
3. If you change your parameters setting, can you improve the model?